.idea/*
*.bak
*.zip
*.pnproj
*.pnps
copyFromLiveSystem.*
copyToLiveSystem.*
copyToDir.*
*wrong_16.png
*cnamTest
*unused_icons*
.idea
*.idea*
.idea/*
.idea/
*idea*
*tplOut.txt
.DS_Store
/nbproject/private/