.idea/*
*.bak
*.zip
*.pnproj
*.pnps
copyFromLiveSystem.*
copyToLiveSystem.*
*wrong_16.png
*cnamTest
*unused_icons*
.idea
*.idea*
.idea/*
.idea/
*idea*
*tplOut.txt
.DS_Store
/nbproject/private/
ca-bundle-mozilla.crt
mampCopy.sh
SugarModules/modules/Asterisk/include/tests/sugarRestTest.php