/* @override http://crm.tomhoganlaw.com/custom/modules/Asterisk/include/css/asterisk.css */

/* @override http://crm.tomhoganlaw.com/custom/modules/Asterisk/include/css/asterisk.css */

@charset "utf-8";
/*
 * CSS Document
 * Written by Ryan Yonzon
 * http://ryan.rawswift.com/
 */


html, body {

}

#main_container {
    width:100%;
    background-color:#ffffff; /* DO NOT REMOVE THIS; or you'll have issue w/ the scrollbar, when the mouse pointer is on a white space */
    overflow-x: hidden;
    overflow-y: scroll;
    height:100%;	/* this will make sure that the height will extend at the bottom */
    position:absolute; /* container div must be absolute, for our fixed bar to work */
}

.asterisk_info table {
    xtable-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse:collapse;
    margin-bottom: 5px;
}
.asterisk_info td		{	padding: 2px; vertical-align:top;}
.asterisk_data td		{	padding-left: 6px;}
.asterisk_info input .callboxtextarea {	width: 100%;}
.asterisk_create_call input	{	width: 100%;}
.asterisk_info h4x	{	padding: 0;margin: 0;}
td.asterisk_state		{	font-weight: bold; text-align: center;}

.asterisk_placeCall {
    border: 0px;
    background: 0;
}
.asterisk_placeCall:hover {opacity:.50;}

.asteriskActionsLinks {
    font-family: Verdana,sans-serif;
    font-size: 0.8em;
}

.tabTopBar {
    height: 30px;
}

#dialpad {
    background: url('custom/modules/Asterisk/include/images/dialpad-grid.png') no-repeat 0 2px;
}

.call_duration {
    width: 20%;
}

.asterisk_data {
    padding-bottom:0px;
    margin-bottom:0px;
}

.caller_id_box {
    display:none;
}

.parent_name_box {
    display:none;
}

.callbox {
    position: fixed;
    position:expression("absolute");
    width: 225px;
    display:none;
    z-index: 9999; /** Added by BR because pagination buttons were showing through **/
    right: 20px;
    bottom: 0px;
    display: block;
}

.callboxhead {
    background-color: #f99d39;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
    color: #ffffff;
    cursor: pointer;
}


.control_panel {
    cursor: pointer;
    color: #333333;
    background-color: #ffffff;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    padding: 3px;
}

.operator_panel, .callbox_action, .transfer_panel {
    width: 32px;
    height: 32px;
    left: 4px;
    top: 4px;
    display: none;
}

.callboxblink {
    background-color: #176689;
    border-right:1px solid #176689;
    border-left:1px solid #176689;
}

.callboxcontent {
    font-family: arial,sans-serif;
    font-size: 12px;
    color: #333333;
    height:150px; /** br orig = 200 **/
    width:209px;
    overflow-y:auto;
    overflow-x:auto;
    padding:7px;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #eeeeee;
    background-color: #ffffff;
    line-height: 1.3em;
}

.callboxinput {
    padding: 5px;
    background-color: #ffffff;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
}

.callboxtextarea {
    width: 206px;
    height:44px;
    padding:3px 0pt 3px 3px;
    border: 1px solid #eeeeee;
    margin: 1px;
    overflow:hidden;
}

.callboxtextareaselected {
    border: 2px solid #f99d39;
    margin:0;
}

.callboxmessage {
    margin-left:1em;
}

.callboxinfo {
    margin-left:-1em;
    color:#666666;

}

.callboxmessagefrom {
    margin-left:-1em;
    font-weight: bold;
}

.callboxmessagecontent {
}

.callboxoptions {
    float: right;
}

.callboxoptions a {
    text-decoration: none;
    padding:  7px 10px 5px 15px;
    color: white;
    font-weight:bold;
}


.callboxoptions a:hover {
    opacity: .50;

}

.callboxtitle {
    float: left;
}

.multiplematchingcontacts, .multiplematchingaccounts, .singlematchingcontact, .nomatchingcontact {
    display: none;
}

.save_status {
    width:150px;
}

.callboxinput {
    display: block;
}

.callbox_close {
    font-size:110%;
}

.save_memo {
    width: 208px;
    text-align: center;
    float: none;
}

.ui-button .ui-icon.ui-icon-transfer { background: url('../images/call_transfer-blue.png') no-repeat 0 0px; background-size:16px 16px; }
.ui-button .ui-icon.ui-icon-custom-phone { background-image: url('../images/dialpad-grid.png'); }
.ui-button .ui-icon.ui-icon-custom-unrelate { background-image: url('../images/unrelate-call-icon.png'); }

.multiplematchingcontacts, .multiplematchingaccounts, .singlematchingcontact, .nomatchingcontact {
    display: none;
}

.li_create_new_contact, .li_create_new_contact, .li_relate_to_account, .li_relate_to_contact, .li_relate_to_lead, .li_block_call {
    display: none;
}

.dropdown-menu {
    font: 14px sans-serif;
    position: absolute;
    z-index: 9999999;
    display: none;
}

.dropdown-menu UL {
    min-width: 160px;
    list-style: none;
    background: #FFF;
    border: solid 1px #DDD;
    border: solid 1px rgba(0, 0, 0, .2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    overflow: visible;
    padding: 4px 0;
    margin: 0;
}

.dropdown-menu.has-tip {
    margin-top: 8px;
}

.dropdown-menu.has-tip:before {
    position: absolute;
    top: -6px;
    left: 9px;
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
}

.dropdown-menu.has-tip.anchor-right:before {
    left: auto;
    right: 9px;
}

.dropdown-menu.has-tip:after {
    position: absolute;
    top: -5px;
    left: 10px;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #FFF;
    display: inline-block;
}

.dropdown-menu.has-tip.anchor-right:after {
    left: auto;
    right: 10px;
}


.dropdown-menu.has-scroll UL {
    max-height: 358px;
    overflow: auto;
}

.dropdown-menu LI {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 18px;
    display: none;
}

.dropdown-menu LI > A,
.dropdown-menu LABEL {
    display: block;
    color: #555;
    text-decoration: none;
    line-height: 18px;
    padding: 3px 15px;
    white-space: nowrap;
}

.dropdown-menu LI > A:hover,
.dropdown-menu LABEL:hover {
    background-color: #08C;
    color: #FFF;
    cursor: pointer;
}

.dropdown-menu .divider {
    height: 1px;
    background: #E5E5E5;
    margin: 5px 1px;
    overflow: hidden;
}

/* Icon Examples - icons courtesy of http://p.yusukekamiyamane.com/ */
.dropdown-menu.has-icons LI > A {
    padding-left: 30px;
    background-position: 8px center;
    background-repeat: no-repeat;
}

/*
.dropdown-menu .undo A { background-image: url(icons/arrow-curve-180-left.png); }
.dropdown-menu .redo A { background-image: url(icons/arrow-curve.png); }
.dropdown-menu .cut A { background-image: url(icons/scissors.png); }
.dropdown-menu .copy A { background-image: url(icons/document-copy.png); }
.dropdown-menu .paste A { background-image: url(icons/clipboard.png); }
.dropdown-menu .delete A { background-image: url(icons/cross-script.png); }
*/

.block-reason {
    display: block;
}

.block-phone-number {
    display: block;
}

.call_type {
    font-weight: bold;
    text-align: center;
    padding: 2px;
    background:#EBEBED none repeat scroll 0 0;
    border-style:solid none;
    border-width:1px medium;
    font-size:11px;
    color: black;
    margin-top: 0px;
}

.asterisk_info{
    background-color:#F6F6F6;
    color:#000000;
    border-bottom:1px solid;
    border-top:2px solid;
    border-bottom-color:#ABC3D7;
    border-top-color:#4E8CCF;
    font-size:12px;
    margin-bottom:5px;
    padding:10px 6px 12px 10px
}


.activeCall
{
    width:23px;
    height:23px;
    background:url(../images/click-to-dial.png) 0 0 no-repeat;
    float:left;
    background-position: 0px 0px;
}

.dialedCall
{
    width:23px;
    height:23px;
    background:url(../images/click-to-dial-calling.gif) 0 0 no-repeat;
    float:left;
    background-position: 0px 0px;
}