.asterisk_info table {
	xtable-layout: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse:collapse; 
	margin-bottom: 5px;
}
.asterisk_info td		{	padding: 2px; vertical-align:top;}
.asterisk_data td		{	padding-left: 6px;}
.asterisk_info input .chatboxtextarea {	width: 100%;}
.asterisk_create_call input	{	width: 100%;}
.asterisk_info h4x	{	padding: 0;margin: 0;}
td.asterisk_state		{	font-weight: bold; text-align: center;}

.asterisk_placeCall {
	border: 0px;
	background: 0;
}
.asterisk_placeCall:hover {background: 0 !important; border: 0;}

.asteriskActionsLinks {
    font-family: Verdana,sans-serif;
    font-size: 0.8em;
}

